
:root {
    --colorBaseWhite: #ffffff;    
    --colorBaseBlack: #000000;    
    --colorGrayLightMode25: #fdfdfd;    
    --colorGrayLightMode50: #fafafa;    
    --colorGrayLightMode100: #f5f5f5;    
    --colorGrayLightMode200: #e9eaeb;    
    --colorGrayLightMode300: #d5d7da;    
    --colorGrayLightMode400: #a4a7ae;    
    --colorGrayLightMode500: #717680;    
    --colorGrayLightMode600: #535862;    
    --colorGrayLightMode700: #414651;    
    --colorGrayLightMode800: #252b37;    
    --colorGrayLightMode900: #181d27;    
    --colorGrayLightMode950: #0a0d12;    
    --colorGrayDarkMode25: #fafafa;    
    --colorGrayDarkMode50: #f7f7f7;    
    --colorGrayDarkMode100: #f0f0f1;    
    --colorGrayDarkMode200: #ececed;    
    --colorGrayDarkMode300: #cecfd2;    
    --colorGrayDarkMode400: #94979c;    
    --colorGrayDarkMode500: #85888e;    
    --colorGrayDarkMode600: #61656c;    
    --colorGrayDarkMode700: #373a41;    
    --colorGrayDarkMode800: #22262f;    
    --colorGrayDarkMode900: #13161b;    
    --colorGrayDarkMode950: #0c0e12;    
    --colorBrand25: #ffffff;    
    --colorBrand50: #ffffff;    
    --colorBrand100: #ffffff;    
    --colorBrand200: #ffffff;    
    --colorBrand300: #ffffff;    
    --colorBrand400: #ffffff;    
    --colorBrand500: #ffffff;    
    --colorBrand600: #6941c6;    
    --colorBrand700: #ffffff;    
    --colorBrand800: #ffffff;    
    --colorBrand900: #ffffff;    
    --colorBrand950: #ffffff;    
    --colorError25: #ffffff;    
    --colorError50: #ffffff;    
    --colorError100: #ffffff;    
    --colorError200: #ffffff;    
    --colorError300: #ffffff;    
    --colorError400: #ffffff;    
    --colorError500: #ffffff;    
    --colorError600: #ffffff;    
    --colorError700: #ffffff;    
    --colorError800: #ffffff;    
    --colorError900: #ffffff;    
    --colorError950: #ffffff;    
    --colorWarning25: #ffffff;    
    --colorWarning50: #ffffff;    
    --colorWarning100: #ffffff;    
    --colorWarning200: #ffffff;    
    --colorWarning300: #ffffff;    
    --colorWarning400: #ffffff;    
    --colorWarning500: #ffffff;    
    --colorWarning600: #ffffff;    
    --colorWarning700: #ffffff;    
    --colorWarning800: #ffffff;    
    --colorWarning900: #ffffff;    
    --colorWarning950: #ffffff;    
    --colorSuccess25: #ffffff;    
    --colorSuccess50: #ffffff;    
    --colorSuccess100: #ffffff;    
    --colorSuccess200: #ffffff;    
    --colorSuccess300: #ffffff;    
    --colorSuccess400: #ffffff;    
    --colorSuccess500: #ffffff;    
    --colorSuccess600: #ffffff;    
    --colorSuccess700: #ffffff;    
    --colorSuccess800: #ffffff;    
    --colorSuccess900: #ffffff;    
    --colorSuccess950: #ffffff;    
    --colorGrayBlue25: #ffffff;    
    --colorGrayBlue50: #ffffff;    
    --colorGrayBlue100: #ffffff;    
    --colorGrayBlue200: #ffffff;    
    --colorGrayBlue300: #ffffff;    
    --colorGrayBlue400: #ffffff;    
    --colorGrayBlue500: #ffffff;    
    --colorGrayBlue600: #ffffff;    
    --colorGrayBlue700: #ffffff;    
    --colorGrayBlue800: #ffffff;    
    --colorGrayBlue900: #ffffff;    
    --colorGrayBlue950: #ffffff;    
    --colorGrayCool25: #ffffff;    
    --colorGrayCool50: #ffffff;    
    --colorGrayCool100: #ffffff;    
    --colorGrayCool200: #ffffff;    
    --colorGrayCool300: #ffffff;    
    --colorGrayCool400: #ffffff;    
    --colorGrayCool500: #ffffff;    
    --colorGrayCool600: #ffffff;    
    --colorGrayCool700: #ffffff;    
    --colorGrayCool800: #ffffff;    
    --colorGrayCool900: #ffffff;    
    --colorGrayCool950: #ffffff;    
    --colorGrayModern25: #ffffff;    
    --colorGrayModern50: #ffffff;    
    --colorGrayModern100: #ffffff;    
    --colorGrayModern200: #ffffff;    
    --colorGrayModern300: #ffffff;    
    --colorGrayModern400: #ffffff;    
    --colorGrayModern500: #ffffff;    
    --colorGrayModern600: #ffffff;    
    --colorGrayModern700: #ffffff;    
    --colorGrayModern800: #ffffff;    
    --colorGrayModern900: #ffffff;    
    --colorGrayModern950: #ffffff;    
    --colorGrayNeutral25: #ffffff;    
    --colorGrayNeutral50: #ffffff;    
    --colorGrayNeutral100: #ffffff;    
    --colorGrayNeutral200: #ffffff;    
    --colorGrayNeutral300: #ffffff;    
    --colorGrayNeutral400: #ffffff;    
    --colorGrayNeutral500: #ffffff;    
    --colorGrayNeutral600: #ffffff;    
    --colorGrayNeutral700: #ffffff;    
    --colorGrayNeutral800: #ffffff;    
    --colorGrayNeutral900: #ffffff;    
    --colorGrayNeutral950: #ffffff;    
    --colorGrayIron25: #ffffff;    
    --colorGrayIron50: #ffffff;    
    --colorGrayIron100: #ffffff;    
    --colorGrayIron200: #ffffff;    
    --colorGrayIron300: #ffffff;    
    --colorGrayIron400: #ffffff;    
    --colorGrayIron500: #ffffff;    
    --colorGrayIron600: #ffffff;    
    --colorGrayIron700: #ffffff;    
    --colorGrayIron800: #ffffff;    
    --colorGrayIron900: #ffffff;    
    --colorGrayIron950: #ffffff;    
    --colorGrayTrue25: #ffffff;    
    --colorGrayTrue50: #ffffff;    
    --colorGrayTrue100: #ffffff;    
    --colorGrayTrue200: #ffffff;    
    --colorGrayTrue300: #ffffff;    
    --colorGrayTrue400: #ffffff;    
    --colorGrayTrue500: #ffffff;    
    --colorGrayTrue600: #ffffff;    
    --colorGrayTrue700: #ffffff;    
    --colorGrayTrue800: #ffffff;    
    --colorGrayTrue900: #ffffff;    
    --colorGrayTrue950: #ffffff;    
    --colorGrayWarm25: #ffffff;    
    --colorGrayWarm50: #ffffff;    
    --colorGrayWarm100: #ffffff;    
    --colorGrayWarm200: #ffffff;    
    --colorGrayWarm300: #ffffff;    
    --colorGrayWarm400: #ffffff;    
    --colorGrayWarm500: #ffffff;    
    --colorGrayWarm600: #ffffff;    
    --colorGrayWarm700: #ffffff;    
    --colorGrayWarm800: #ffffff;    
    --colorGrayWarm900: #ffffff;    
    --colorGrayWarm950: #ffffff;    
    --colorMoss25: #ffffff;    
    --colorMoss50: #ffffff;    
    --colorMoss100: #ffffff;    
    --colorMoss200: #ffffff;    
    --colorMoss300: #ffffff;    
    --colorMoss400: #ffffff;    
    --colorMoss500: #ffffff;    
    --colorMoss600: #ffffff;    
    --colorMoss700: #ffffff;    
    --colorMoss800: #ffffff;    
    --colorMoss900: #ffffff;    
    --colorMoss950: #ffffff;    
    --colorGreenLight25: #ffffff;    
    --colorGreenLight50: #ffffff;    
    --colorGreenLight100: #ffffff;    
    --colorGreenLight200: #ffffff;    
    --colorGreenLight300: #ffffff;    
    --colorGreenLight400: #ffffff;    
    --colorGreenLight500: #ffffff;    
    --colorGreenLight600: #ffffff;    
    --colorGreenLight700: #ffffff;    
    --colorGreenLight800: #ffffff;    
    --colorGreenLight900: #ffffff;    
    --colorGreenLight950: #ffffff;    
    --colorGreen25: #ffffff;    
    --colorGreen50: #ffffff;    
    --colorGreen100: #ffffff;    
    --colorGreen200: #ffffff;    
    --colorGreen300: #ffffff;    
    --colorGreen400: #ffffff;    
    --colorGreen500: #ffffff;    
    --colorGreen600: #ffffff;    
    --colorGreen700: #ffffff;    
    --colorGreen800: #ffffff;    
    --colorGreen900: #ffffff;    
    --colorGreen950: #ffffff;    
    --colorTeal25: #ffffff;    
    --colorTeal50: #ffffff;    
    --colorTeal100: #ffffff;    
    --colorTeal200: #ffffff;    
    --colorTeal300: #ffffff;    
    --colorTeal400: #ffffff;    
    --colorTeal500: #ffffff;    
    --colorTeal600: #ffffff;    
    --colorTeal700: #ffffff;    
    --colorTeal800: #ffffff;    
    --colorTeal900: #ffffff;    
    --colorTeal950: #ffffff;    
    --colorCyan25: #ffffff;    
    --colorCyan50: #ffffff;    
    --colorCyan100: #ffffff;    
    --colorCyan200: #ffffff;    
    --colorCyan300: #ffffff;    
    --colorCyan400: #ffffff;    
    --colorCyan500: #ffffff;    
    --colorCyan600: #ffffff;    
    --colorCyan700: #ffffff;    
    --colorCyan800: #ffffff;    
    --colorCyan900: #ffffff;    
    --colorCyan950: #ffffff;    
    --colorBlueLight25: #ffffff;    
    --colorBlueLight50: #ffffff;    
    --colorBlueLight100: #ffffff;    
    --colorBlueLight200: #ffffff;    
    --colorBlueLight300: #ffffff;    
    --colorBlueLight400: #ffffff;    
    --colorBlueLight500: #ffffff;    
    --colorBlueLight600: #ffffff;    
    --colorBlueLight700: #ffffff;    
    --colorBlueLight800: #ffffff;    
    --colorBlueLight900: #ffffff;    
    --colorBlueLight950: #ffffff;    
    --colorBlue25: #ffffff;    
    --colorBlue50: #ffffff;    
    --colorBlue100: #ffffff;    
    --colorBlue200: #ffffff;    
    --colorBlue300: #ffffff;    
    --colorBlue400: #ffffff;    
    --colorBlue500: #ffffff;    
    --colorBlue600: #ffffff;    
    --colorBlue700: #ffffff;    
    --colorBlue800: #ffffff;    
    --colorBlue900: #ffffff;    
    --colorBlue950: #ffffff;    
    --colorBlueDark25: #ffffff;    
    --colorBlueDark50: #ffffff;    
    --colorBlueDark100: #ffffff;    
    --colorBlueDark200: #ffffff;    
    --colorBlueDark300: #ffffff;    
    --colorBlueDark400: #ffffff;    
    --colorBlueDark500: #ffffff;    
    --colorBlueDark600: #ffffff;    
    --colorBlueDark700: #ffffff;    
    --colorBlueDark800: #ffffff;    
    --colorBlueDark900: #ffffff;    
    --colorBlueDark950: #ffffff;    
    --colorIndigo25: #ffffff;    
    --colorIndigo50: #ffffff;    
    --colorIndigo100: #ffffff;    
    --colorIndigo200: #ffffff;    
    --colorIndigo300: #ffffff;    
    --colorIndigo400: #ffffff;    
    --colorIndigo500: #ffffff;    
    --colorIndigo600: #ffffff;    
    --colorIndigo700: #ffffff;    
    --colorIndigo800: #ffffff;    
    --colorIndigo900: #ffffff;    
    --colorIndigo950: #ffffff;    
    --colorViolet25: #ffffff;    
    --colorViolet50: #ffffff;    
    --colorViolet100: #ffffff;    
    --colorViolet200: #ffffff;    
    --colorViolet300: #ffffff;    
    --colorViolet400: #ffffff;    
    --colorViolet500: #ffffff;    
    --colorViolet600: #ffffff;    
    --colorViolet700: #ffffff;    
    --colorViolet800: #ffffff;    
    --colorViolet900: #ffffff;    
    --colorViolet950: #ffffff;    
    --colorPurple25: #ffffff;    
    --colorPurple50: #ffffff;    
    --colorPurple100: #ffffff;    
    --colorPurple200: #ffffff;    
    --colorPurple300: #ffffff;    
    --colorPurple400: #ffffff;    
    --colorPurple500: #ffffff;    
    --colorPurple600: #ffffff;    
    --colorPurple700: #ffffff;    
    --colorPurple800: #ffffff;    
    --colorPurple900: #ffffff;    
    --colorPurple950: #ffffff;    
    --colorFuchsia25: #ffffff;    
    --colorFuchsia50: #ffffff;    
    --colorFuchsia100: #ffffff;    
    --colorFuchsia200: #ffffff;    
    --colorFuchsia300: #ffffff;    
    --colorFuchsia400: #ffffff;    
    --colorFuchsia500: #ffffff;    
    --colorFuchsia600: #ffffff;    
    --colorFuchsia700: #ffffff;    
    --colorFuchsia800: #ffffff;    
    --colorFuchsia900: #ffffff;    
    --colorFuchsia950: #ffffff;    
    --colorPink25: #ffffff;    
    --colorPink50: #ffffff;    
    --colorPink100: #ffffff;    
    --colorPink200: #ffffff;    
    --colorPink300: #ffffff;    
    --colorPink400: #ffffff;    
    --colorPink500: #ffffff;    
    --colorPink600: #ffffff;    
    --colorPink700: #ffffff;    
    --colorPink800: #ffffff;    
    --colorPink900: #ffffff;    
    --colorPink950: #ffffff;    
    --colorRos25: #ffffff;    
    --colorRos50: #ffffff;    
    --colorRos100: #ffffff;    
    --colorRos200: #ffffff;    
    --colorRos300: #ffffff;    
    --colorRos400: #ffffff;    
    --colorRos500: #ffffff;    
    --colorRos600: #ffffff;    
    --colorRos700: #ffffff;    
    --colorRos800: #ffffff;    
    --colorRos900: #ffffff;    
    --colorRos950: #ffffff;    
    --colorOrangeDark25: #ffffff;    
    --colorOrangeDark50: #ffffff;    
    --colorOrangeDark100: #ffffff;    
    --colorOrangeDark200: #ffffff;    
    --colorOrangeDark300: #ffffff;    
    --colorOrangeDark400: #ffffff;    
    --colorOrangeDark500: #ffffff;    
    --colorOrangeDark600: #ffffff;    
    --colorOrangeDark700: #ffffff;    
    --colorOrangeDark800: #ffffff;    
    --colorOrangeDark900: #ffffff;    
    --colorOrangeDark950: #ffffff;    
    --colorOrange25: #ffffff;    
    --colorOrange50: #ffffff;    
    --colorOrange100: #ffffff;    
    --colorOrange200: #ffffff;    
    --colorOrange300: #ffffff;    
    --colorOrange400: #ffffff;    
    --colorOrange500: #ffffff;    
    --colorOrange600: #ffffff;    
    --colorOrange700: #ffffff;    
    --colorOrange800: #ffffff;    
    --colorOrange900: #ffffff;    
    --colorOrange950: #ffffff;    
    --colorYellow25: #ffffff;    
    --colorYellow50: #ffffff;    
    --colorYellow100: #ffffff;    
    --colorYellow200: #ffffff;    
    --colorYellow300: #ffffff;    
    --colorYellow400: #ffffff;    
    --colorYellow500: #ffffff;    
    --colorYellow600: #ffffff;    
    --colorYellow700: #ffffff;    
    --colorYellow800: #ffffff;    
    --colorYellow900: #ffffff;    
    --colorYellow950: #ffffff;    
    --colorAvatarUserSquareOliviaRhyeColorBackground_: #cfcbdc;    
    --colorAvatarUserSquareOliviaRhyeNeutralBackground_: #ffffff;    
    --colorAvatarUserSquarePhoenixBakerColorBackground_: #d6cfb7;    
    --colorAvatarUserSquarePhoenixBakerNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLanaSteinerColorBackground_: #d7e3e8;    
    --colorAvatarUserSquareLanaSteinerNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareDemiWilkinsonColorBackground_: #dadcd6;    
    --colorAvatarUserSquareDemiWilkinsonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareCandiceWuColorBackground_: #d9d0e6;    
    --colorAvatarUserSquareCandiceWuNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNataliCraigColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareNataliCraigNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareDrewCanoColorBackground_: #d9e5cc;    
    --colorAvatarUserSquareDrewCanoNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareOrlandoDiggsColorBackground_: #e5ddce;    
    --colorAvatarUserSquareOrlandoDiggsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAndiLaneColorBackground_: #dcccbd;    
    --colorAvatarUserSquareAndiLaneNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKateMorrisonColorBackground_: #cccbdc;    
    --colorAvatarUserSquareKateMorrisonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKorayOkumusColorBackground_: #e5cfe7;    
    --colorAvatarUserSquareKorayOkumusNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAvaWrightColorBackground_: #ddd0be;    
    --colorAvatarUserSquareAvaWrightNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareEveLeroyColorBackground_: #dfc3cd;    
    --colorAvatarUserSquareEveLeroyNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareZahirMaysColorBackground_: #d3d6e9;    
    --colorAvatarUserSquareZahirMaysNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJoshuaWilsonColorBackground_: #d3dccf;    
    --colorAvatarUserSquareJoshuaWilsonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareReneWellsColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareReneWellsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLoriBrysonColorBackground_: #dfc3cd;    
    --colorAvatarUserSquareLoriBrysonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAnaiahWhittenColorBackground_: #d9d0e6;    
    --colorAvatarUserSquareAnaiahWhittenNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNoahPierreColorBackground_: #c1d3bb;    
    --colorAvatarUserSquareNoahPierreNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKatherineMossColorBackground_: #c0c6dd;    
    --colorAvatarUserSquareKatherineMossNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMollieHallColorBackground_: #dfc3cd;    
    --colorAvatarUserSquareMollieHallNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareEduardFranzColorBackground_: #e5ddce;    
    --colorAvatarUserSquareEduardFranzNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAlecWhittenColorBackground_: #d8ddc0;    
    --colorAvatarUserSquareAlecWhittenNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareEvaBondColorBackground_: #e8d7ea;    
    --colorAvatarUserSquareEvaBondNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareSophiaPerezColorBackground_: #d7e3e8;    
    --colorAvatarUserSquareSophiaPerezNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLyleKauffmanColorBackground_: #d6b3b3;    
    --colorAvatarUserSquareLyleKauffmanNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKellyWilliamsColorBackground_: #dadcd6;    
    --colorAvatarUserSquareKellyWilliamsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLucyBondColorBackground_: #e8d7ea;    
    --colorAvatarUserSquareLucyBondNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAlisaHesterColorBackground_: #e5d1e6;    
    --colorAvatarUserSquareAlisaHesterNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareRosaleeMelvinColorBackground_: #ddd0be;    
    --colorAvatarUserSquareRosaleeMelvinNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLokiBrightColorBackground_: #d7e3e8;    
    --colorAvatarUserSquareLokiBrightNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAliahLaneColorBackground_: #cfcbdc;    
    --colorAvatarUserSquareAliahLaneNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAnitaCruzColorBackground_: #d7e3e8;    
    --colorAvatarUserSquareAnitaCruzNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKariRasmussenColorBackground_: #c7d1b0;    
    --colorAvatarUserSquareKariRasmussenNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNalaGoinsColorBackground_: #cfcbdc;    
    --colorAvatarUserSquareNalaGoinsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAmLieLaurentColorBackground_: #ddc0ce;    
    --colorAvatarUserSquareAmLieLaurentNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareSiennaHewittColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareSiennaHewittNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAmmarFoleyColorBackground_: #c7d1b0;    
    --colorAvatarUserSquareAmmarFoleyNeutralBackground_: #ffffff;    
    --colorAvatarUserSquarePippaWilkinsonColorBackground_: #ced1e5;    
    --colorAvatarUserSquarePippaWilkinsonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareOllySchroederColorBackground_: #ddd0be;    
    --colorAvatarUserSquareOllySchroederNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMathildeLewisColorBackground_: #dfc2c0;    
    --colorAvatarUserSquareMathildeLewisNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJuliusVaughanColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareJuliusVaughanNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareZaidSchwartzColorBackground_: #d1e3d9;    
    --colorAvatarUserSquareZaidSchwartzNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLilyRoseChedjouColorBackground_: #e5ddce;    
    --colorAvatarUserSquareLilyRoseChedjouNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareCaitlynKingColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareCaitlynKingNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareFleurCookColorBackground_: #dadcd6;    
    --colorAvatarUserSquareFleurCookNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMarcoKellyColorBackground_: #e3c6d1;    
    --colorAvatarUserSquareMarcoKellyNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLuluMeyersColorBackground_: #d9d0e6;    
    --colorAvatarUserSquareLuluMeyersNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMikeyLawrenceColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareMikeyLawrenceNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareFreyaBrowningColorBackground_: #dfc2c0;    
    --colorAvatarUserSquareFreyaBrowningNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareFlorenceShawColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareFlorenceShawNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAshwinSantiagoColorBackground_: #d1e2e7;    
    --colorAvatarUserSquareAshwinSantiagoNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNikolasGibbonsColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareNikolasGibbonsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAdrianaOSullivanColorBackground_: #e5d1e6;    
    --colorAvatarUserSquareAdrianaOSullivanNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareEthanCampbellColorBackground_: #dbcabd;    
    --colorAvatarUserSquareEthanCampbellNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJayaWillisColorBackground_: #c6d0cb;    
    --colorAvatarUserSquareJayaWillisNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJessieMeytonColorBackground_: #d3d6e9;    
    --colorAvatarUserSquareJessieMeytonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareHasanJohnsColorBackground_: #d8ddc0;    
    --colorAvatarUserSquareHasanJohnsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquarePriyaShepardColorBackground_: #bfd6d7;    
    --colorAvatarUserSquarePriyaShepardNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLeviRochaColorBackground_: #dfc2c0;    
    --colorAvatarUserSquareLeviRochaNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareZahraChristensenColorBackground_: #d3dccf;    
    --colorAvatarUserSquareZahraChristensenNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareStefanSearsColorBackground_: #d6cfb7;    
    --colorAvatarUserSquareStefanSearsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAliMahdiColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareAliMahdiNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareRileyOMooreColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareRileyOMooreNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLiamHoodColorBackground_: #dfc3cd;    
    --colorAvatarUserSquareLiamHoodNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareBriannaWareColorBackground_: #d6b3b3;    
    --colorAvatarUserSquareBriannaWareNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareYoussefRobersonColorBackground_: #d8e0cf;    
    --colorAvatarUserSquareYoussefRobersonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAshtonBlackwellColorBackground_: #d3d6e9;    
    --colorAvatarUserSquareAshtonBlackwellNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareCohenLozanoColorBackground_: #c6d0cb;    
    --colorAvatarUserSquareCohenLozanoNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareOwenGarciaColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareOwenGarciaNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareIslaAllisonColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareIslaAllisonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareElisaNishikawaColorBackground_: #d3dccf;    
    --colorAvatarUserSquareElisaNishikawaNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareEricaWyattColorBackground_: #e5cfe7;    
    --colorAvatarUserSquareEricaWyattNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareHarryBenderColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareHarryBenderNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareCameronYangColorBackground_: #d7e3e8;    
    --colorAvatarUserSquareCameronYangNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNoelBaldwinColorBackground_: #e3d2c6;    
    --colorAvatarUserSquareNoelBaldwinNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKylaClayColorBackground_: #d9d0e6;    
    --colorAvatarUserSquareKylaClayNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMollyVaughanColorBackground_: #c1d3bb;    
    --colorAvatarUserSquareMollyVaughanNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJonathanKellyColorBackground_: #e5cfe7;    
    --colorAvatarUserSquareJonathanKellyNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAmandaLoweryColorBackground_: #e0c1c3;    
    --colorAvatarUserSquareAmandaLoweryNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKaitlinHaleColorBackground_: #ddd0be;    
    --colorAvatarUserSquareKaitlinHaleNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMaxwellTanColorBackground_: #c2bfd3;    
    --colorAvatarUserSquareMaxwellTanNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareElsieRoyColorBackground_: #cbe1ef;    
    --colorAvatarUserSquareElsieRoyNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareZuzannaBurkeColorBackground_: #d6b3b3;    
    --colorAvatarUserSquareZuzannaBurkeNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMaddisonGillespieColorBackground_: #e4cbcc;    
    --colorAvatarUserSquareMaddisonGillespieNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKadenScottColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareKadenScottNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAdilFloydColorBackground_: #e5ddce;    
    --colorAvatarUserSquareAdilFloydNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMarvinRobbinsColorBackground_: #c7d1b0;    
    --colorAvatarUserSquareMarvinRobbinsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareBelleWoodsColorBackground_: #d7cde5;    
    --colorAvatarUserSquareBelleWoodsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareSarahPageColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareSarahPageNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAyshaBeckerColorBackground_: #d1e2e7;    
    --colorAvatarUserSquareAyshaBeckerNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareBlakeRileyColorBackground_: #d6cfb7;    
    --colorAvatarUserSquareBlakeRileyNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJayShepardColorBackground_: #c7d1b0;    
    --colorAvatarUserSquareJayShepardNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareRheaLevineColorBackground_: #d3d6e9;    
    --colorAvatarUserSquareRheaLevineNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareFranklinMaysColorBackground_: #d7e3e8;    
    --colorAvatarUserSquareFranklinMaysNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKelseyLoweColorBackground_: #c9c6d0;    
    --colorAvatarUserSquareKelseyLoweNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareBillieWrightColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareBillieWrightNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareMadeleinePittsColorBackground_: #cfcbdc;    
    --colorAvatarUserSquareMadeleinePittsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareFrankWhitakerColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareFrankWhitakerNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareDillanNguyenColorBackground_: #dfc2c0;    
    --colorAvatarUserSquareDillanNguyenNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareKatyFullerColorBackground_: #d1e3d9;    
    --colorAvatarUserSquareKatyFullerNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNicolasTrevinoColorBackground_: #d6b3b3;    
    --colorAvatarUserSquareNicolasTrevinoNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareOwenHardingColorBackground_: #cfcbdc;    
    --colorAvatarUserSquareOwenHardingNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAvaBentleyColorBackground_: #ccdde1;    
    --colorAvatarUserSquareAvaBentleyNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareHarrietRojasColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareHarrietRojasNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareEthanValdezColorBackground_: #d6e7ea;    
    --colorAvatarUserSquareEthanValdezNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAbrahamBakerColorBackground_: #d1d2e3;    
    --colorAvatarUserSquareAbrahamBakerNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareSallyMasonColorBackground_: #ecdddc;    
    --colorAvatarUserSquareSallyMasonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJaydenMossColorBackground_: #dfc3cd;    
    --colorAvatarUserSquareJaydenMossNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareIsobelFullerColorBackground_: #e9dcbb;    
    --colorAvatarUserSquareIsobelFullerNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJacksonReedColorBackground_: #d7e3e8;    
    --colorAvatarUserSquareJacksonReedNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareCourtneyTurnerColorBackground_: #c7d1b0;    
    --colorAvatarUserSquareCourtneyTurnerNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareJordanBurgessColorBackground_: #c6d0cb;    
    --colorAvatarUserSquareJordanBurgessNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareBaileyRichardsColorBackground_: #e8d7ea;    
    --colorAvatarUserSquareBaileyRichardsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareRayhanZuaColorBackground_: #c1debc;    
    --colorAvatarUserSquareRayhanZuaNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNicFassbenderColorBackground_: #cfcbdc;    
    --colorAvatarUserSquareNicFassbenderNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareLeytonFieldsColorBackground_: #cfd4c6;    
    --colorAvatarUserSquareLeytonFieldsNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareBecFergusonColorBackground_: #e7d3d7;    
    --colorAvatarUserSquareBecFergusonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNicolasWangColorBackground_: #f1e7da;    
    --colorAvatarUserSquareNicolasWangNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareZaynabDonnellyColorBackground_: #c6d0cb;    
    --colorAvatarUserSquareZaynabDonnellyNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareGenevieveMcleanColorBackground_: #bbc0dd;    
    --colorAvatarUserSquareGenevieveMcleanNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareAdemLaneColorBackground_: #c7d1b0;    
    --colorAvatarUserSquareAdemLaneNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareNicolaHarrisColorBackground_: #ddd0be;    
    --colorAvatarUserSquareNicolaHarrisNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareZaraBushColorBackground_: #e5d1e6;    
    --colorAvatarUserSquareZaraBushNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareByronRobertsonColorBackground_: #dbcabd;    
    --colorAvatarUserSquareByronRobertsonNeutralBackground_: #ffffff;    
    --colorAvatarUserSquareRhiannaShepardColorBackground_: #d7e3e8;    
    --colorAvatarUserSquareRhiannaShepardNeutralBackground_: #ffffff;    
    --colorBlue1: #e5f4ff;    
    --colorBlue2: #cce8ff;    
    --colorBlue3: #99d0ff;    
    --colorBlue4: #66b8ff;    
    --colorBlue5: #48adff;    
    --colorBlue6: #1a8aff;    
    --colorBlue7: #1a74ff;    
    --colorBlue8: #075aed;    
    --colorBlue9: #063488;    
    --colorBlue10: #051f4f;    
    --colorBlue11: #001d33;    
    --colorGreen1: #e5f8e9;    
    --colorGreen2: #ccf1d3;    
    --colorGreen3: #99e3a8;    
    --colorGreen4: #66d47c;    
    --colorGreen5: #4dcd66;    
    --colorGreen6: #1abf3b;    
    --colorGreen7: #00b825;    
    --colorGreen8: #00a621;    
    --colorGreen9: #00811a;    
    --colorGreen10: #004a0f;    
    --colorGreen11: #002507;    
    --colorOrange1: #fef2e1;    
    --colorOrange2: #fcddb0;    
    --colorOrange3: #fac67c;    
    --colorOrange4: #ffb54d;    
    --colorOrange5: #ffa423;    
    --colorOrange6: #ff9703;    
    --colorOrange7: #e78a08;    
    --colorOrange8: #ce7f0f;    
    --colorOrange9: #ad6806;    
    --colorOrange10: #8e5300;    
    --colorOrange11: #331e00;    
    --colorRed1: #ffe5e5;    
    --colorRed2: #ffcccc;    
    --colorRed3: #ff9999;    
    --colorRed4: #ff6666;    
    --colorRed5: #ff4d4d;    
    --colorRed6: #e53935;    
    --colorRed7: #c62828;    
    --colorRed8: #b71c1c;    
    --colorRed9: #7f110f;    
    --colorRed10: #550d08;    
    --colorRed11: #330000;    
    --colorBrand1: #ececff;    
    --colorBrand2: #c1cdff;    
    --colorBrand3: #94a8ff;    
    --colorBrand4: #3d61ff;    
    --colorBrand5: #244cf9;    
    --colorBrand6: #1215d3;    
    --colorBrand7: #0e0ead;    
    --colorBrand8: #13138b;    
    --colorBrand9: #000074;    
    --colorBrand10: #04044d;    
    --colorBrand11: #000034;    
    --colorSubrand1: #ffebe5;    
    --colorSubrand2: #ffd6cc;    
    --colorSubrand3: #fe8769;    
    --colorSubrand4: #ff704c;    
    --colorSubrand5: #fc5e36;    
    --colorSubrand6: #ff4b1f;    
    --colorSubrand7: #ff3300;    
    --colorSubrand8: #e52e00;    
    --colorSubrand9: #b22400;    
    --colorSubrand10: #661400;    
    --colorSubrand11: #330a00;    
    --colorGray1: #f8f8f9;    
    --colorBase1: #ffffff;    
    --colorBase2: #000000;    
    --colorGray2: #f0f2f6;    
    --colorGray3: #ebeef4;    
    --colorGray4: #dce1ea;    
    --colorGray5: #d6dce8;    
    --colorGray6: #d2d7e2;    
    --colorGray7: #ccd0d8;    
    --colorGray8: #a4a8b2;    
    --colorGray9: #8f97a3;    
    --colorGray10: #6f7a87;    
    --colorGray11: #4f5a68;    
    --colorGray12: #2a3441;    
    --colorGray13: #171d25;    
    --colorColorBlue1: #e5f4ff;    
    --colorColorGreen1: #e5f8e9;    
    --colorColorOrange1: #fef2e1;    
    --colorColorOrange2: #fcddb0;    
    --colorColorOrange3: #fac67c;    
    --colorColorOrange4: #ffb54d;    
    --colorColorOrange5: #ffa423;    
    --colorColorOrange6: #ff9703;    
    --colorColorOrange7: #e78a08;    
    --colorColorOrange8: #ce7f0f;    
    --colorColorOrange9: #ad6806;    
    --colorColorOrange10: #8e5300;    
    --colorColorOrange11: #331e00;    
    --colorColorRed1: #ffe5e5;    
    --colorColorRed2: #ffcccc;    
    --colorColorRed3: #ff9999;    
    --colorColorRed4: #ff6666;    
    --colorColorRed5: #ff4d4d;    
    --colorColorRed6: #e53935;    
    --colorColorRed7: #c62828;    
    --colorColorRed8: #b71c1c;    
    --colorColorRed9: #7f110f;    
    --colorColorRed10: #550d08;    
    --colorColorRed11: #330000;    
    --colorColorBrand1: #ececff;    
    --colorColorBrand2: #c1cdff;    
    --colorColorBrand3: #94a8ff;    
    --colorColorBrand4: #3d61ff;    
    --colorColorBrand5: #244cf9;    
    --colorColorBrand6: #1215d3;    
    --colorColorBrand7: #0e0ead;    
    --colorColorBrand8: #13138b;    
    --colorColorBrand9: #000074;    
    --colorColorBrand10: #04044d;    
    --colorColorBrand11: #000034;    
    --colorColorSubrand1: #ffebe5;    
    --colorColorSubrand2: #ffd6cc;    
    --colorColorSubrand3: #fe8769;    
    --colorColorSubrand4: #ff704c;    
    --colorColorSubrand5: #fc5e36;    
    --colorColorSubrand6: #ff4b1f;    
    --colorColorSubrand7: #ff3300;    
    --colorColorSubrand8: #e52e00;    
    --colorColorSubrand9: #b22400;    
    --colorColorSubrand10: #661400;    
    --colorColorSubrand11: #330a00;    
    --colorColorGray1: #f8f8f9;    
    --colorColorGray2: #f0f2f6;    
    --colorColorGray3: #ebeef4;    
    --colorColorGray4: #dce1ea;    
    --colorColorGray5: #d6dce8;    
    --colorColorGray6: #d2d7e2;    
    --colorColorGray7: #ccd0d8;    
    --colorColorGray8: #a4a8b2;    
    --colorColorGray9: #8f97a3;    
    --colorColorGray10: #6f7a87;    
    --colorColorGray11: #4f5a68;    
    --colorColorGray12: #2a3441;    
    --colorColorGray13: #171d25;    
    --colorColorBase1: #ffffff;    
    --colorColorBase2: #000000;    
    --colorColorGreen2: #ccf1d3;    
    --colorColorGreen3: #99e3a8;    
    --colorColorGreen4: #66d47c;    
    --colorColorGreen5: #4dcd66;    
    --colorColorGreen6: #1abf3b;    
    --colorColorGreen7: #00b825;    
    --colorColorGreen8: #00a621;    
    --colorColorGreen9: #00811a;    
    --colorColorGreen10: #004a0f;    
    --colorColorGreen11: #002507;    
    --colorColorBlue2: #cce8ff;    
    --colorColorBlue3: #99d0ff;    
    --colorColorBlue4: #66b8ff;    
    --colorColorBlue5: #48adff;    
    --colorColorBlue6: #1a8aff;    
    --colorColorBlue7: #1a74ff;    
    --colorColorBlue8: #075aed;    
    --colorColorBlue9: #063488;    
    --colorColorBlue10: #051f4f;    
    --colorColorBlue11: #001d33;    
    --colorTextTextPrimary: var(--colorGray13);    
    --colorBgFillFillSubrand: var(--colorSubrand7);    
    --colorTextTextSecondary: var(--colorGray10);    
    --colorTextTextDisabled: var(--colorGray9);    
    --colorBgFillFillHoverSubrand: var(--colorSubrand6);    
    --colorTextTextBrand: var(--colorBrand9);    
    --colorTextTextBrandOnBgFill: var(--colorBase1);    
    --colorBgFillFillActiveSubrand: var(--colorSubrand9);    
    --colorBgFillFillDisabledSubrand: var(--colorGray7);    
    --colorBgFillFillDefault: var(--colorBase1);    
    --colorTextTextBlue: var(--colorBlue8);    
    --colorBgFillFillHover: var(--colorGray2);    
    --colorBgFillFillActive: var(--colorGray4);    
    --colorTextTextBlueHover: var(--colorBlue9);    
    --colorBgFillFillDisabled: var(--colorGray2);    
    --colorTextTextBlueActive: var(--colorBlue11);    
    --colorTextTextCritical: var(--colorRed7);    
    --colorTextTextCriticalHover: var(--colorRed9);    
    --colorBgBg: var(--colorBase1);    
    --colorBgBgHover: var(--colorGray1);    
    --colorBgBgDisabled: var(--colorGray2);    
    --colorBgBgCritical: var(--colorRed1);    
    --colorBgBgTertiary: var(--colorGray4);    
    --colorBorderBorderDefault: var(--colorGray7);    
    --colorBorderBorderInput: var(--colorGray8);    
    --colorBorderBorderButton: var(--colorGray8);    
    --colorBorderBorderCritical: var(--colorRed7);    
    --colorColorTextText: var(--colorColorGray13);    
    --colorColorBgBg: var(--colorColorBase1);    
    --colorColorBgBgHover: var(--colorColorGray1);    
    --colorColorBgBgDisabled: var(--colorColorGray2);    
    --colorColorBgBgCritical: var(--colorColorRed1);    
    --colorColorBgBgTertiary: var(--colorColorGray4);    
    --colorColorBgFillFillSubrand: var(--colorColorSubrand7);    
    --colorColorBgFillFillHoverSubrand: var(--colorColorSubrand6);    
    --colorColorBgFillFillActiveSubrand: var(--colorColorSubrand9);    
    --colorColorBgFillFillDisabledSubrand: var(--colorColorGray7);    
    --colorColorBgFillFill: var(--colorColorBase1);    
    --colorColorBgFillFillHover: var(--colorColorGray2);    
    --colorColorBgFillFillActive: var(--colorColorGray4);    
    --colorColorBgFillFillDisabled: var(--colorColorGray2);    
    --colorColorBorderBorderDefault: var(--colorColorGray7);    
    --colorColorBorderBorderInput: var(--colorColorGray8);    
    --colorColorBorderBorderButton: var(--colorColorGray8);    
    --colorColorBorderBorderCritical: var(--colorColorRed7);    
    --colorColorTextTextSecondary: var(--colorColorGray10);    
    --colorColorTextTextDisabled: var(--colorColorGray9);    
    --colorColorTextTextBrand: var(--colorColorBrand9);    
    --colorColorTextTextBrandOnBgFill: var(--colorColorBase1);    
    --colorColorTextTextBlue: var(--colorColorBlue8);    
    --colorColorTextTextBlueHover: var(--colorColorBlue9);    
    --colorColorTextTextBlueActive: var(--colorColorBlue11);    
    --colorColorTextTextCritical: var(--colorColorRed7);    
    --colorColorTextTextCriticalHover: var(--colorColorRed9);    
}