
:root {
    --measureLineHeightLineHeightLineheights0: 90px;    
    --measureLineHeightLineHeightLineheights1: 72px;    
    --measureLineHeightLineHeightLineheights2: 60px;    
    --measureLineHeightLineHeightLineheights3: 44px;    
    --measureLineHeightLineHeightLineheights4: 38px;    
    --measureLineHeightLineHeightLineheights5: 32px;    
    --measureLineHeightLineHeightLineheights6: 30px;    
    --measureLineHeightLineHeightLineheights7: 28px;    
    --measureLineHeightLineHeightLineheights8: 24px;    
    --measureLineHeightLineHeightLineheights9: 20px;    
    --measureLineHeightLineHeightLineheights10: 18px;    
    --measureFontSizeFontSizeFontsize0: 12px;    
    --measureFontSizeFontSizeFontsize1: 14px;    
    --measureFontSizeFontSizeFontsize2: 16px;    
    --measureFontSizeFontSizeFontsize3: 18px;    
    --measureFontSizeFontSizeFontsize4: 20px;    
    --measureFontSizeFontSizeFontsize5: 24px;    
    --measureFontSizeFontSizeFontsize6: 30px;    
    --measureFontSizeFontSizeFontsize7: 36px;    
    --measureFontSizeFontSizeFontsize8: 48px;    
    --measureFontSizeFontSizeFontsize9: 60px;    
    --measureFontSizeFontSizeFontsize10: 72px;    
    --measureLetterSpacingLetterSpacingLetterspacing0: -2%;    
    --measureLetterSpacingLetterSpacingLetterspacing1: 0%;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 12px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing1: 14px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing2: 16px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing3: 18px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing4: 20px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing5: 24px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing6: 30px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing7: 36px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing8: 48px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing9: 60px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing10: 72px;    
    --measureDimensionDimensionParagraphindent0: 0px;    
}