            
            
            .typographyDisplay2xlRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize10);
              line-height: var(--measureLineHeightLineHeightLineheights0);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing10);
              }            
            
            .typographyDisplay2xlMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize10);
              line-height: var(--measureLineHeightLineHeightLineheights0);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing10);
              }            
            
            .typographyDisplay2xlSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize10);
              line-height: var(--measureLineHeightLineHeightLineheights0);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing10);
              }            
            
            .typographyDisplay2xlBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize10);
              line-height: var(--measureLineHeightLineHeightLineheights0);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing10);
              }            
            
            .typographyDisplayXlRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize9);
              line-height: var(--measureLineHeightLineHeightLineheights1);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing9);
              }            
            
            .typographyDisplayXlMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize9);
              line-height: var(--measureLineHeightLineHeightLineheights1);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing9);
              }            
            
            .typographyDisplayXlSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize9);
              line-height: var(--measureLineHeightLineHeightLineheights1);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing9);
              }            
            
            .typographyDisplayXlBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize9);
              line-height: var(--measureLineHeightLineHeightLineheights1);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing9);
              }            
            
            .typographyDisplayLgRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize8);
              line-height: var(--measureLineHeightLineHeightLineheights2);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing8);
              }            
            
            .typographyDisplayLgMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize8);
              line-height: var(--measureLineHeightLineHeightLineheights2);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing8);
              }            
            
            .typographyDisplayLgSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize8);
              line-height: var(--measureLineHeightLineHeightLineheights2);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing8);
              }            
            
            .typographyDisplayLgBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize8);
              line-height: var(--measureLineHeightLineHeightLineheights2);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing8);
              }            
            
            .typographyDisplayMdRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize7);
              line-height: var(--measureLineHeightLineHeightLineheights3);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing7);
              }            
            
            .typographyDisplayMdMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize7);
              line-height: var(--measureLineHeightLineHeightLineheights3);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing7);
              }            
            
            .typographyDisplayMdSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize7);
              line-height: var(--measureLineHeightLineHeightLineheights3);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing7);
              }            
            
            .typographyDisplayMdBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize7);
              line-height: var(--measureLineHeightLineHeightLineheights3);
              letter-spacing: -0.02em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing7);
              }            
            
            .typographyDisplaySmRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize6);
              line-height: var(--measureLineHeightLineHeightLineheights4);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing6);
              }            
            
            .typographyDisplaySmMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize6);
              line-height: var(--measureLineHeightLineHeightLineheights4);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing6);
              }            
            
            .typographyDisplaySmSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize6);
              line-height: var(--measureLineHeightLineHeightLineheights4);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing6);
              }            
            
            .typographyDisplaySmBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize6);
              line-height: var(--measureLineHeightLineHeightLineheights4);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing6);
              }            
            
            .typographyDisplaySmMediumItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize6);
              line-height: var(--measureLineHeightLineHeightLineheights4);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing6);
              }            
            
            .typographyDisplayXsRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize5);
              line-height: var(--measureLineHeightLineHeightLineheights5);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing5);
              }            
            
            .typographyDisplayXsMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize5);
              line-height: var(--measureLineHeightLineHeightLineheights5);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing5);
              }            
            
            .typographyDisplayXsSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize5);
              line-height: var(--measureLineHeightLineHeightLineheights5);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing5);
              }            
            
            .typographyDisplayXsBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize5);
              line-height: var(--measureLineHeightLineHeightLineheights5);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing5);
              }            
            
            .typographyDisplayXsMediumItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize5);
              line-height: var(--measureLineHeightLineHeightLineheights5);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing5);
              }            
            
            .typographyTextXlRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextXlMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextXlSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextXlBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextXlRegularItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextXlMediumItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextXlSemiboldItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextXlBoldItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextXlRegularUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize4);
              line-height: var(--measureLineHeightLineHeightLineheights6);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing4);
              }            
            
            .typographyTextLgRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgRegularItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgMediumItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgSemiboldItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgBoldItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgRegularUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgMediumUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextLgSemiboldUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize3);
              line-height: var(--measureLineHeightLineHeightLineheights7);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing3);
              }            
            
            .typographyTextMdRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdRegularItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdMediumItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdSemiboldItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdBoldItalic 
            {
              font-family: "Inter";
              font-style: italic;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdRegularUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdMediumUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextMdSemiboldUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize2);
              line-height: var(--measureLineHeightLineHeightLineheights8);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing2);
              }            
            
            .typographyTextSmRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize1);
              line-height: var(--measureLineHeightLineHeightLineheights9);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing1);
              }            
            
            .typographyTextSmMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize1);
              line-height: var(--measureLineHeightLineHeightLineheights9);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing1);
              }            
            
            .typographyTextSmSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize1);
              line-height: var(--measureLineHeightLineHeightLineheights9);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing1);
              }            
            
            .typographyTextSmBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize1);
              line-height: var(--measureLineHeightLineHeightLineheights9);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing1);
              }            
            
            .typographyTextSmRegularUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize1);
              line-height: var(--measureLineHeightLineHeightLineheights9);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing1);
              }            
            
            .typographyTextSmMediumUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize1);
              line-height: var(--measureLineHeightLineHeightLineheights9);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing1);
              }            
            
            .typographyTextSmSemiboldUnderlined 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize1);
              line-height: var(--measureLineHeightLineHeightLineheights9);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing1);
              }            
            
            .typographyTextXsRegular 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize0);
              line-height: var(--measureLineHeightLineHeightLineheights10);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing0);
              }            
            
            .typographyTextXsMedium 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 500;
              font-size: var(--measureFontSizeFontSizeFontsize0);
              line-height: var(--measureLineHeightLineHeightLineheights10);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing0);
              }            
            
            .typographyTextXsSemibold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: var(--measureFontSizeFontSizeFontsize0);
              line-height: var(--measureLineHeightLineHeightLineheights10);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing0);
              }            
            
            .typographyTextXsBold 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: var(--measureFontSizeFontSizeFontsize0);
              line-height: var(--measureLineHeightLineHeightLineheights10);
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: var(--measureParagraphSpacingParagraphSpacingParagraphspacing0);
              }